.container {
  box-sizing: border-box;
  position: relative;
  max-width: 272px;
  max-height: 208px;
  list-style: none;
}

.img {
  height: 120px;
  width: 240px;
}

.price {
  align-items: center;
  display: flex;
  height: 22px;
  justify-content: center;
}

.title {
  display: flex;
  height: 48px;
  justify-content: center;
  text-align: center;
}
