.container {
  box-sizing: border-box;
  min-height: 912px;
  width: 630px;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  padding-right: 0;
}

.bun {
  padding-right: 30px;
}

.main {
  padding-right: 10px;
}

.li {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.total {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.scroll {
  overflow-y: scroll;
  max-height: 370px;
}
