.container {
  display: flex;
  flex-direction: column;
  width: 1300px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.data {
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 626px;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feed {
  border: 1px dotted white;
  width: 620px;
  height: 500px;
  margin-left: 0;
}

.ul {
  padding-left: 0;
  margin-top: 0;
  padding-right: 32px;
}

.li {
  list-style: none;
}
