.container {
  display: flex;
  flex-direction: column;
  min-width: 292px;
}

.ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-height: 150px;
}

.li {
  list-style: none;
}

.colored {
  color: #00CCCC;
}

