.modal {
  background-color: #1c1c21;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 539px;
  width: 720px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.span {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 18px;
  height: 64px;
  width: 640px;
}

.title {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: flex-start;
}

.closeIcon {
  grid-column-start: 2;
  grid-column-end: 2;
  justify-content: flex-end;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}
