.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0; top: 0; right: 0; bottom: 0;
  position: fixed;
  width: 100%;
}

.modal {
  background-color: #1c1c21;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 539px;
  width: 720px;
}

.span {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 18px;
  height: 64px;
  width: 640px;
}

.title {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: flex-start;
}

.closeIcon {
  grid-column-start: 2;
  grid-column-end: 2;
  justify-content: flex-end;
}
