header {
    max-width: 1920px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
    max-width: 1240px;
    min-height: 56px;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-direction: row;
    margin: -20px -20px;
    gap: 2px;
    padding: 0;
}

li {
    align-items: center;
    height: 56px;
    list-style-type: none;
}
