.container {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 10;
}

.modal {
  align-items: center;
  /*background-color: #1c1c21;*/
  border-radius: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 720px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: calc(100% - 80px);
}
