.container {
  align-items: center;
  background-color: #1c1c21;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  padding-right: 8px;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
  width: 536px;
}

.span {
  width: 536px;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  width: 536px;
}

.ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  width: 436px;
}

.li {
  align-items: center;
  display: flex;
  background: linear-gradient(to right, #801AB2, #4c4cff);
  border-radius: 50px;
  height: 64px;
  justify-content: center;
  list-style: none;
  position: relative;
  width: 64px;
}

.circle {
  display: flex;
  justify-content: center;
  height: 62px;
  width: 62px;
  border-radius: 50px;
  background: #1c1c21;
}

.img {
  height: 64px;
  width: 112px;
}

.price {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 76px;
}


